@tailwind base;
@tailwind components;
@tailwind utilities;

/* disable chrome default input style */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

@layer components {
  .devise-form-label {
    @apply text-right text-gray-600 self-center
  }

  .devise-form-input {
    @apply bg-white py-2 pl-2 rounded w-full border border-gray-300
  }
  .gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  }
}

input[type="date"] {
  display:block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 1.2em;
}